.login-container{
    display: flex;
}
.image-login-container{
    background-image: url('../Images/login.jpg');
    background-size: 100% 100%;
    width: 140vh;
    height: 92.5vh;
}
.text-login-container input{
    border: 1px solid rgb(131,140,239);
    padding: 1vw 1vw;
    border-radius: 10px;
    width: 450px;
    display: flex;
    margin: 5px;
    color: rgb(56, 18, 244);
}
.text-login-container button{
    border: 1px solid rgb(131,140,239);
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    margin-left: 10px;
}
.text-login-container button:hover{
    color:rgb(194, 246, 6);
    background-color: rgb(11, 137, 234);
    cursor: pointer;
}
.text-login-container{
    border: 1px solid rgba(0,0,0,0.2);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 4px rgba(0,0,0,0.2);

}
.text-login-container h1{
    color: rgb(20, 147, 238);
    margin-left: 170px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}
.error-msg{
    color: rgb(236, 9, 9);
    padding-left: 20px;
    font-size: 17px;
}
p{
    padding-left: 20px;
}